<section class="py-3 bg-primary-gradient pb-5">
  <h1 class="fw-bold mb-5 event-title text-center mt-2">Event</h1>

  <h5 class="text-center mb-5">Event name:&nbsp;{{event.event_name}}</h5>

  <div class="container">
    {{! <div class="row mb-3 mt-5">
      <div class="col offset-lg-0 d-inline-flex justify-content-center"><input
          class="border rounded shadow-sm d-xl-flex justify-content-xl-center px-4"
          type="text"
          name="input"
          placeholder="Event name"
        /><button class="btn btn-primary mx-3 btn-color" type="button">Event
          name</button></div>
    </div> }}
    <div class="row">
      <div
        id="invited-guest"
        class="col offset-lg-0 d-inline-flex justify-content-center"
      ><input
          id="new-guest"
          class="border rounded shadow-sm d-xl-flex justify-content-xl-center px-4"
          type="text"
          name="input"
          placeholder="Enter your full name"
        /><button
          id="add-guest"
          class="btn btn-primary mx-3 btn-color"
          type="button"
          data-event="{{event.id}}"
        >Add guest</button></div>
    </div>
  </div>
</section>
<section>
  <div class="col mt-3 my-5 pt-4">
    <h4 id="guests" class="fs-1 fw-normal text-center">Guest List</h4>

    {{#each event.guests}}
      {{#if attending}}
        <p class="text-center guest-p">â­&nbsp;{{guest_name}}</p>
      {{else}}
        <p class="text-center guest-p">{{guest_name}}</p>
      {{/if}}
    {{/each}}
  </div>
</section>